@use "styles/theme/theme.variables" as *;
// Rich text editor container
.rich-text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  
  ngx-editor-menu {
    border-bottom: 1px solid #ddd;
    
    ::ng-deep .NgxEditor__MenuBar {
      border: none;
      border-radius: 0;
      margin: 0;
    }
  }
  
  ngx-editor {
    flex: 1;
    
    ::ng-deep .NgxEditor {
      border: none;
      border-radius: 0;
      min-height: 220px;
      height: 300px;
      max-height: 400px;
    }
    
    ::ng-deep .NgxEditor__Content {
      min-height: 200px;
      height: 280px;
      max-height: 380px;
      resize: vertical;
    }
  }
}

// Increase the height of the meeting description rich text editor
.rich-text-editor {
  min-height: 220px;
  height: 300px;
  max-height: 400px;
  resize: vertical;
  box-sizing: border-box;
  
  ::ng-deep .NgxEditor {
    border-top: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}

// Style the editor container to align toolbar with editor
::ng-deep ngx-editor-menu + ngx-editor {
  .NgxEditor {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

::ng-deep ngx-editor-menu {
  .NgxEditor__MenuBar {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
  }
}
:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  ::ng-deep card {
    height: 100%;
    min-height: fit-content;
  }
}

.card-title {
  font-weight: 600;
  color: $tint-third-color;
}

.title {
  font-weight: 600;
  color: $text-color;
  user-select: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.timing-content {
    ::ng-deep app-combobox {
      --max-width: 100%;
    }
  }
}

.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;

  .checkbox-container {
    width: fit-content;
  }
}

.submit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .submit-button {
    ::ng-deep {
      button {
        width: fit-content;
        padding-left: 24px;
        padding-right: 24px;
      }
    }
  }
}