
<div class="settings-container">
  <card>
    <h3 class="card-title">Edit Setting</h3>
  <form [formGroup]="form" (submit)="onSubmit($event)">
    <app-collapsible-list>
      <app-collapsible-section [sectionId]="sectionIds[0]" [hasBorder]="false" title="General">
        <!-- Section dynamic title -->
        <span class="title" title>General</span>
        <!-- Section dynamic content -->        
         <div class="content" content>
          <!-- Name field -->
          <setting-row [label]="'Name'" id="name">
            <app-form-field
              [control]="generalFormControls[0]"
              controlName="name"
              [form]="form"
              [showLabel]="false"
            />
          </setting-row>
          <!-- Meeting Date & Time field -->
          <setting-row [label]="'Meeting Date & Time'" id="meetingDate">
            <app-form-field
              [control]="generalFormControls[1]"
              controlName="meetingDate"
              [form]="form"
              [showLabel]="false"
            />
          </setting-row>
          <!-- Description field as rich text editor -->
          <setting-row [label]="'Description'" id="description">
            <div class="rich-text-container">
              <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
              <ngx-editor
                formControlName="description"
                [editor]="editor"
                placeholder="Enter meeting description..."
                class="rich-text-editor"
              ></ngx-editor>
            </div>
          </setting-row>
        </div>
      </app-collapsible-section>
    </app-collapsible-list>
    <div class="submit-container">
      <app-button type="submit" label="Save" class="submit-button" />
    </div>
  </form>
  </card>
</div>